<div class="blockname">
	{% if command %}
		<i class="fa-fw {{ command.icon ? command.icon : "fas fa-file" }}"></i>
		{{ command.description }}
	{% else %}
		<i class="fa-fw fas fa-file"></i>
		...
	{% endif %}
	<i (delete) class="control fas fa-times-circle"></i>
</div>
<div class="attributes">
	{% for attribute in command.attributes %}
		{% set value = loop.parent.attributes[attribute.name] %}
		<div>
			<label>{{ attribute.name }}</label>
			{% if attribute.options %}
				<select (attribute) data-attribute="{{ attribute.name }}">
					{% for option in attribute.options %}
						<option value="{{ option }}" {% if value==option %}selected{% endif %}>{{ option }}</option>
					{% endfor %}
				</select>
			{% else %}
				<input (attribute) data-attribute="{{ attribute.name }}"
						 value="{{ value }}">
			{% endif %}
		</div>
	{% endfor %}
</div>
{% if not command or command.body %}
	<div class="body">
		<textarea (body)>{{ body }}</textarea>
	</div>
{% endif %}
<div class="add" (add-block)></div>
